@model jukebox.Models.VenueTrack

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>VenueTrack</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vote.VoteID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vote.VoteID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Venue.VenueName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Venue.VenueName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Track.TrackName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Track.TrackName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Artist.ArtistName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Artist.ArtistName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Genre.GenreName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genre.GenreName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.VenueTrackID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
